@model YearSemester


<form method="post">
    <div class="border p-3 mt-1 card shadow border-0 mt-4">
        <div class="row">
            <h2 class="text-primary">Create Student</h2>
            <hr/>
        </div>
        <input asp-for="YearSemesterID" type="hidden" />
        <input asp-for="YearID" type="hidden" />
        <div class="row pt-2">
            <div class="col-6 mb-1">
                <label asp-for="SemesterNumber"></label>
                <input asp-for="SemesterNumber" class="form-control form-control-lg" />
                <span asp-validation-for="SemesterNumber" class="text-danger"></span>
            </div>
            <div class="col-6 mb-1">
                <label asp-for="SemesterNameEN"></label>
                <input asp-for="SemesterNameEN" class="form-control form-control-lg" />
                <span asp-validation-for="SemesterNameEN" class="text-danger"></span>

            </div>
            <div class="col-6 mb-1">
                <label asp-for="SemesterNameAR"></label>
                <input asp-for="SemesterNameAR" class="form-control form-control-lg" />
                <span asp-validation-for="SemesterNameAR" class="text-danger"></span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-4 mb-1">
                <label asp-for="QuizCount"></label>
                <input asp-for="QuizCount" class="form-control form-control-lg" />
                <span asp-validation-for="QuizCount" class="text-danger"></span>
            </div>
            <div class="col-4 mb-1">
                <label asp-for="FinalMark"></label>
                <input asp-for="FinalMark" class="form-control form-control-lg" />
                <span asp-validation-for="FinalMark" class="text-danger"></span>
            </div>
            <div class="col-4 mb-1 mt-4 pt-3">
                <label asp-for="ActiveFlag"></label>
                <input asp-for="ActiveFlag" type="checkbox" class="form-check-input" />
                <span asp-validation-for="ActiveFlag" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mb-4 mt-4 ">
            <button type="submit" class="btn btn-outline-primary btn-lg mt-4 mb-4 pb-4 " style="width:25%">Create</button>
            <a asp-controller="Year" asp-action="Upsert" asp-route-id="YearID" class="btn btn-outline-secondary mt-4 mb-4 pb-4 float-end">Back to List</a>

        </div>
    </div>
</form>