@model Country
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" py-2">Edit Country</h2>
            </div>

            @* <div asp-validation-summary="All"></div> *@

        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="CountryID" hidden />
            <div class="border p-3">
                <div class="form-floating mb-3">
                    <input asp-for="CountryNameEN" type="text" class="form-control" id="floatingInput" placeholder="">
                    <label asp-for="CountryNameEN" for="floatingInput"></label>
                    <span asp-validation-for="CountryNameEN" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="CountryNameAR" type="text" class="form-control" id="floatingInput" placeholder="">
                    <label asp-for="CountryNameAR" for="floatingInput"></label>
                    <span asp-validation-for="CountryNameAR" class="text-danger"></span>

                </div>
                <div class="form-floating mb-3">
                    <input asp-for="NationalityEN" type="text" class="form-control" id="floatingInput" placeholder="">
                    <label asp-for="NationalityEN" for="floatingInput"></label>
                    <span asp-validation-for="NationalityEN" class="text-danger"></span>

                </div>
                <div class="form-floating mb-3">
                    <input asp-for="NationalityARMale" type="text" class="form-control" id="floatingInput" placeholder="">
                    <label asp-for="NationalityARMale" for="floatingInput"></label>
                    <span asp-validation-for="NationalityARMale" class="text-danger"></span>

                </div>
                <div class="form-floating mb-3">
                    <input asp-for="NationalityARFemale" type="text" class="form-control" id="floatingInput" placeholder="">
                    <label asp-for="NationalityARFemale" for="floatingInput" class="float-right" style="text-align:right;"></label>
                    <span asp-validation-for="NationalityARFemale" class="text-danger"></span>

                </div>




                <div class=" pt-2">
                    <button type="submit" class="btn btn-outline-primary btn-lg " style="width:25%">Edit</button>
                    <a asp-controller="Settings" asp-action="Countries" class="btn btn-outline-secondary float-end">Back</a>

                </div>


            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<h1>EditCountry</h1>

