<h1>Settings</h1>


<div class="list-group">
    <a class="list-group-item list-group-item-action text-center" style="font-size:x-large;" asp-controller="Settings" asp-action="Countries">Countries</a>
   @*  <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a> *@
</div>

@* <div class="btn-group-vertical" style="width:90%">
    <button type="button" class="btn btn-primary">Button</button>
    <button type="button" class="btn btn-primary">Button</button>
    <button type="button" class="btn btn-primary">Button</button>
    <button type="button" class="btn btn-primary">Button</button>
    <button type="button" class="btn btn-primary">Button</button>
    <button type="button" class="btn btn-primary">Button</button>
</div> *@