@model Grade
<div class="row card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" py-2">@(Model.GradeID!=0?"Update":"Create") Grade</h2>
            </div>

            @* <div asp-validation-summary="All"></div> *@

        </div>
    </div>
    <div class="row card-body p-4">
        <form method="post" class="row">
            <input asp-for="GradeID" hidden />
            <div class="border p-3">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" asp-for="GradeName"></label>
                        <input asp-for="GradeName" type="text" class="form-control" placeholder="">
                        <span asp-validation-for="GradeName" class="text-danger"></span>
                    </div>
                    <div class="col-6 form-label mb-3">
                        <label class="form-label" asp-for="SchoolName"></label>
                        <select class="form-select" asp-for="SchoolName">
                            <option>B</option>
                            <option>G</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-6 form-floating mb-3">
                        <input asp-for="CertificateNameEN" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="CertificateNameEN" for="floatingInput"></label>
                        <span asp-validation-for="CertificateNameEN" class="text-danger"></span>

                    </div>
                    <div class="col-6 form-floating mb-3">
                        <input asp-for="CertificateNameAR" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="CertificateNameAR" for="floatingInput"></label>
                        <span asp-validation-for="CertificateNameAR" class="text-danger"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                <div class="col-6 form-floating mb-3 center">
                    <input asp-for="GradeLevel" class="form-control" id="floatingInput" placeholder="">
                    <label asp-for="GradeLevel" for="floatingInput" class="float-right" style="text-align:right;"></label>
                    <span asp-validation-for="GradeLevel" class="text-danger"></span>

                </div>
                </div>



                <div class=" pt-2">
                    @if (Model.GradeID != 0)
                    {
                        <button type="submit" class="btn btn-outline-primary btn-lg " style="width:25%">Update</button>

                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-primary btn-lg " style="width:25%">Createe</button>

                    }
                    <a asp-controller="Country" asp-action="Index" class="btn btn-outline-secondary float-end">Back</a>

                </div>


            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}