<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SunriseWeb</title>
    <link rel="icon" type="image/png" href="~/images/logo.png" />


    <!-- CSS Inclusions -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SunriseWeb.styles.css" asp-append-version="true" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- sweetalert2 CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    

   
    


    <!-- DataTables CSS (Correct Version) -->
    <!-- Removed the incorrect 2.1.7 version and added the correct 1.13.6 version -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

 
</head>
<body>
    <!-- Loading Screen -->
    <div id="loading-screen">
        <div class="logo-overlay"></div>
        <div class="spinner"></div>
    </div>

    <!-- Header and Navigation -->
    <header>
        <nav class="navbar navbar-expand bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo" style="height: 30px;">
                    SunriseWeb
                </a>

                <!-- Navigation Items -->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        @* <!-- Home Link -->
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Teacher" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                        <!-- Current Control Link -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Teacher" asp-controller="CurrentControl" asp-action="Index">
                                <i class="bi bi-ui-checks"></i> Current Control
                            </a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Super_Admin))
                        {
                            <!-- Students Link -->
                            <li class="nav-item">
                                @* <a  class="nav-link" asp-area="Admin" asp-controller="Student" asp-action="Index"> *@
                                <a href="/Admin/Student" class="nav-link">
                                    <i class="bi bi-backpack"></i> Students
                                </a>
                            </li>

                            <!-- Settings Dropdown -->
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-file-earmark"></i><span class="ms-1 d-none d-sm-inline">Reports</span>
                                </a>
                                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                    <!-- Semester -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ControlReports" asp-action="Semester">
                                            <i class="bi bi-award"></i><span class="ms-1 d-none d-sm-inline"> Semester Certificates</span>
                                        </a>
                                    </li>
                                    <!-- Semester -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ControlReports" asp-action="Year">
                                            <i class="bi bi-award-fill"></i><span class="ms-1 d-none d-sm-inline"> Year Certificates</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <!-- Busses -->
                                    @* <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Bus" asp-action="Index">
                                            <i class="bi bi-bus-front"></i><span class="ms-1 d-none d-sm-inline"> Busses</span>
                                        </a>
                                    </li> *@
                                   
                                </ul>
                            </li>

                            <!-- Settings Dropdown -->
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-gear"></i><span class="ms-1 d-none d-sm-inline">Settings</span>
                                </a>
                                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                    <!-- Years -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Year" asp-action="Index">
                                            <i class="bi bi-calendar2-date-fill"></i><span class="ms-1 d-none d-sm-inline"> Academic Years</span>
                                        </a>
                                    </li>

                                    <!-- Grades -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Grade" asp-action="Index">
                                            <i class="bi bi-123"></i><span class="ms-1 d-none d-sm-inline"> Grades</span>
                                        </a>
                                    </li>
                                    <!-- Classes -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="GradeClass" asp-action="Index">
                                            <i class="bi bi-door-closed"></i><span class="ms-1 d-none d-sm-inline"> Classes</span>
                                        </a>
                                    </li>
                                    <!-- Subjects -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Subject" asp-action="Index">
                                            <i class="bi bi-boxes"></i><span class="ms-1 d-none d-sm-inline"> Subjects</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <!-- Busses -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Bus" asp-action="Index">
                                            <i class="bi bi-bus-front"></i><span class="ms-1 d-none d-sm-inline"> Busses</span>
                                        </a>
                                    </li>
                                    <!-- Countries - Nationalities -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Country" asp-action="Index">
                                            <i class="bi bi-globe-europe-africa"></i><span class="ms-1 d-none d-sm-inline"> Countries - Nationalities</span>
                                        </a>
                                    </li>
                                    <!-- Previous Schools -->
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="PreviousSchool" asp-action="Index">
                                            <i class="bi bi-buildings"></i><span class="ms-1 d-none d-sm-inline"> Previous Schools</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="FilesReader" asp-action="Index">
                                            <i class="bi bi-filetype-xls"></i><span class="ms-1 d-none d-sm-inline">Files Reader</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <!-- Users Settings Dropdown -->
                        @* @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Super_Admin))
                        {
                            <li class="nav-item d-lg-inline-flex">
                                <a class="nav-link" asp-area="Admin" asp-controller="ApplicationUser" asp-action="Index">
                                    <i class="bi bi-person-fill-gear"></i><span class="ms-1 d-none d-sm-inline"> Users</span>
                                </a>
                            </li>
                        } *@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <!-- Home -->
                <li class="nav-item">
                    <a href="#" class="nav-link text-truncate">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                        <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                    </a>
                </li>

                <!-- Bootstrap Dropdown -->
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Dropdown</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <!-- Main Content Area -->
    <div class="container-fluid">
        <div class="row">
            <div class="col min-vh-100 py-3">
                <!-- Offcanvas Toggler -->
                <button class="btn btn-sm float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i class="bi bi-three-dots-vertical" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                </button>
                <div class="container">
                    <main role="main" class="pb-3">
                        <partial name="_Notification" />
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="border-top footer bg-body-tertiary text-muted">
        <div class="container">
            &copy; 2024 - SunriseWeb - Sunrise International Schools Co.
        </div>
    </footer>

    <!-- JavaScript Inclusions -->
    <!-- jQuery (Loaded Locally) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap JS (Loaded Locally) -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom Site JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- DataTables Core (Correct Version) -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- DataTables Buttons Extension and Dependencies -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    <!-- TinyMCE -->
    <script src="https://cdn.tiny.cloud/1/k37ltq6tc51ng2c3jms7io68qfqid8eq125ay5bimy3bd2q5/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- Custom Loading Screen Script -->
    <script>
        // Wait until the whole page is fully loaded
        $(document).ready(function () {
            // Hide loading screen and show the page content
            $(window).on('load', function () {
                $('#loading-screen').fadeOut(500, function () {
                    $('#page-content').fadeIn(500);
                });
            });
        });
    </script>
    <!-- Initialize DataTables (Ensure This is Loaded After All Libraries) -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
