@model List<GradeClass>


<div class="card container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Classes List</h2>
        </div>


        <div >
            <a asp-controller="GradeClass" asp-action="Upsert" class="btn btn-primary" style="width:100%">
                <i class="bi bi-plus-circle"></i> Add New Class
            </a>
        </div>

    </div>

    <table id="tblData" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Grade</th>
                <th>Section</th>
                <th></th>


            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/gradeClass.js"></script>
}